:root {
    --CGV-top-panel-height: calc(100vh - 80px - var(--CGV-footer-height));
    --CGV-image-height: calc(100vh - var(--CGV-footer-height));
}

.BasicUI .sharedappdetailsheader_TopCapsule_2meE3 {
    height: var(--CGV-top-panel-height);
}

.sharedappdetailsheader_HeaderBackgroundImage_1sarA {
    height: var(--CGV-image-height);
}

.BasicUI .sharedappdetailsheader_TopCapsule_2meE3.sharedappdetailsheader_FullscreenEnterStart_P7eLv {
    animation-name: makethinggodown;
    animation-duration: 1s;
}

.BasicUI .sharedappdetailsheader_TopCapsule_2meE3.sharedappdetailsheader_FullscreenEnterDone_1PRtu {
    height: var(--CGV-play-anim-height);
}

.sharedappdetailsheader_BoxSizer_30GVp {
    top: 80% !important;
    max-height: 120px;
}

.sharedappdetailsheader_TitleSection_1P_tv {
    padding: 0;
}

.sharedappdetailsheader_SVGTitle_2w_Zq {
    background: rgba(14,20,27,.5);
    padding-top: 10px;
    padding-left: 24px;
    padding-bottom: 16px;
    margin-bottom: -6px;
    width: 100%;
}

.basicappdetailssectionstyler_PlaySection_3scbH {
    background: rgba(14,20,27,.33);
}

@keyframes makethinggodown {
    from {height: var(--CGV-top-panel-height);}
    to {height: var(--CGV-play-anim-height);}
}