/* .basicappdetailssectionstyler_AppDetailsRoot_3fp5y {
	background: transparent;
}

.basicappdetailssectionstyler_AppDetailsContainer_2-ns_ {
	background: rgba(14,20,27,.25);
} */

.BasicUI .sharedappdetailsheader_TopCapsule_2meE3.sharedappdetailsheader_TopCapsule_2meE3 {
    height: 48.5vw;
}

.BasicUI .sharedappdetailsheader_ImgSrc__dije {
    height: 119%;
}

.sharedappdetailsheader_BoxSizer_30GVp {
    top: 80% !important;
    max-height: 120px;
}

.sharedappdetailsheader_TitleSection_1P_tv {
    padding: 0;
}

.sharedappdetailsheader_SVGTitle_2w_Zq {
    background: rgba(14,20,27,.5);
    padding-top: 10px;
    padding-left: 24px;
    padding-bottom: 16px;
    margin-bottom: -6px;
}

.basicappdetailssectionstyler_PlaySection_3scbH {
    background: rgba(14,20,27,.33);
}