.BasicUI .sharedappdetailsheader_TopCapsule_2meE3.sharedappdetailsheader_TopCapsule_2meE3 {
    height: 46.5vw;
}

.BasicUI .sharedappdetailsheader_ImgSrc__dije {
    height: 124.5%;
}

.appdetailsplaysection_CloudStatusRow_QvHky.Panel.Focusable {
    margin-top: -27px;
}

.basicappdetailssectionstyler_PlaySection_3scbH {
    padding-bottom: 33px;
}