.backgroundglass_BackgroundGlass_3rsrz.backgroundglass_DrawBackground_2NQoF {
    background: none;
}

.backgroundglass_BackgroundGlass_3rsrz.backgroundglass_Blur_N9sQL {
    backdrop-filter: none;
}

.mainmenu_Container_3vzvO.mainmenu_Open_3apLK {
    background-color: transparent;
}