._39tNvaLedsTrVh0fFsP4Jm .ReactVirtualized__Grid__innerScrollContainer > div:first-child
{
    max-width: 426.837px;
}

._39tNvaLedsTrVh0fFsP4Jm .ReactVirtualized__Grid__innerScrollContainer > div.gpfocuswithin
{
    min-width: 133px;
}

._39tNvaLedsTrVh0fFsP4Jm .ReactVirtualized__Grid__innerScrollContainer > div.gpfocuswithin:first-child
{
    min-width: 426.837px;
}

._39tNvaLedsTrVh0fFsP4Jm .ReactVirtualized__Grid__innerScrollContainer > div ._1HIFNGSxh4-jOhPiDynR4C 
{
    width: 100% !important;
}

._39tNvaLedsTrVh0fFsP4Jm .ReactVirtualized__Grid__innerScrollContainer 
{
    max-width: 100% !important;
}