:root {
    --md-sys-color-primary-light: #4359a9;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #dce1ff;
  --md-sys-color-on-primary-container-light: #001551;
  --md-sys-color-primary-fixed-light: #dce1ff;
  --md-sys-color-on-primary-fixed-light: #001551;
  --md-sys-color-primary-fixed-dim-light: #b7c4ff;
  --md-sys-color-on-primary-fixed-variant-light: #294190;
  --md-sys-color-secondary-light: #595d72;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #dee1f9;
  --md-sys-color-on-secondary-container-light: #161b2c;
  --md-sys-color-secondary-fixed-light: #dee1f9;
  --md-sys-color-on-secondary-fixed-light: #161b2c;
  --md-sys-color-secondary-fixed-dim-light: #c2c5dd;
  --md-sys-color-on-secondary-fixed-variant-light: #424659;
  --md-sys-color-tertiary-light: #75546f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffd7f5;
  --md-sys-color-on-tertiary-container-light: #2c1229;
  --md-sys-color-tertiary-fixed-light: #ffd7f5;
  --md-sys-color-on-tertiary-fixed-light: #2c1229;
  --md-sys-color-tertiary-fixed-dim-light: #e3bada;
  --md-sys-color-on-tertiary-fixed-variant-light: #5c3d57;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fefbff;
  --md-sys-color-on-background-light: #1b1b1f;
  --md-sys-color-outline-light: #767680;
  --md-sys-color-inverse-on-surface-light: #f2f0f4;
  --md-sys-color-inverse-surface-light: #303034;
  --md-sys-color-inverse-primary-light: #b7c4ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #4359a9;
  --md-sys-color-outline-variant-light: #c6c5d0;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fbf8fd;
  --md-sys-color-on-surface-light: #1b1b1f;
  --md-sys-color-surface-variant-light: #e2e1ec;
  --md-sys-color-on-surface-variant-light: #45464f;
  --md-sys-color-surface-container-highest-light: #e4e1e6;
  --md-sys-color-surface-container-high-light: #eae7ec;
  --md-sys-color-surface-container-light: #efedf1;
  --md-sys-color-surface-container-low-light: #f5f3f7;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dbd9de;
  --md-sys-color-surface-bright-light: #fbf8fd;
  /* dark */
  --md-sys-color-primary-dark: #b7c4ff;
  --md-sys-color-on-primary-dark: #0b2878;
  --md-sys-color-primary-container-dark: #294190;
  --md-sys-color-on-primary-container-dark: #dce1ff;
  --md-sys-color-primary-fixed-dark: #dce1ff;
  --md-sys-color-on-primary-fixed-dark: #001551;
  --md-sys-color-primary-fixed-dim-dark: #b7c4ff;
  --md-sys-color-on-primary-fixed-variant-dark: #294190;
  --md-sys-color-secondary-dark: #c2c5dd;
  --md-sys-color-on-secondary-dark: #2b3042;
  --md-sys-color-secondary-container-dark: #424659;
  --md-sys-color-on-secondary-container-dark: #dee1f9;
  --md-sys-color-secondary-fixed-dark: #dee1f9;
  --md-sys-color-on-secondary-fixed-dark: #161b2c;
  --md-sys-color-secondary-fixed-dim-dark: #c2c5dd;
  --md-sys-color-on-secondary-fixed-variant-dark: #424659;
  --md-sys-color-tertiary-dark: #e3bada;
  --md-sys-color-on-tertiary-dark: #43273f;
  --md-sys-color-tertiary-container-dark: #5c3d57;
  --md-sys-color-on-tertiary-container-dark: #ffd7f5;
  --md-sys-color-tertiary-fixed-dark: #ffd7f5;
  --md-sys-color-on-tertiary-fixed-dark: #2c1229;
  --md-sys-color-tertiary-fixed-dim-dark: #e3bada;
  --md-sys-color-on-tertiary-fixed-variant-dark: #5c3d57;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1b1b1f;
  --md-sys-color-on-background-dark: #e4e1e6;
  --md-sys-color-outline-dark: #90909a;
  --md-sys-color-inverse-on-surface-dark: #1b1b1f;
  --md-sys-color-inverse-surface-dark: #e4e1e6;
  --md-sys-color-inverse-primary-dark: #4359a9;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #b7c4ff;
  --md-sys-color-outline-variant-dark: #45464f;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #131316;
  --md-sys-color-on-surface-dark: #c8c6ca;
  --md-sys-color-surface-variant-dark: #45464f;
  --md-sys-color-on-surface-variant-dark: #c6c5d0;
  --md-sys-color-surface-container-highest-dark: #343438;
  --md-sys-color-surface-container-high-dark: #2a2a2d;
  --md-sys-color-surface-container-dark: #1f1f23;
  --md-sys-color-surface-container-low-dark: #1b1b1f;
  --md-sys-color-surface-container-lowest-dark: #0e0e11;
  --md-sys-color-surface-dim-dark: #131316;
  --md-sys-color-surface-bright-dark: #39393c;
}