/* 

    You can create a custom palette for Material You using the Material Theme Builder
    -> https://www.figma.com/community/plugin/1034969338659738588/Material-Theme-Builder

    Pick a Primary color, and select 'Export' in the bottom left. Export as 'CSS'. 
    Inside the downloaded zip, paste the contents of 'tokens.css' into this file.
    
*/

:root {
    /* light */
  --md-sys-color-primary-light: #006c4e;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #87f8c9;
  --md-sys-color-on-primary-container-light: #002115;
  --md-sys-color-primary-fixed-light: #87f8c9;
  --md-sys-color-on-primary-fixed-light: #002115;
  --md-sys-color-primary-fixed-dim-light: #69dbae;
  --md-sys-color-on-primary-fixed-variant-light: #00513a;
  --md-sys-color-secondary-light: #4c6358;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cfe9da;
  --md-sys-color-on-secondary-container-light: #092017;
  --md-sys-color-secondary-fixed-light: #cfe9da;
  --md-sys-color-on-secondary-fixed-light: #092017;
  --md-sys-color-secondary-fixed-dim-light: #b3ccbe;
  --md-sys-color-on-secondary-fixed-variant-light: #354b41;
  --md-sys-color-tertiary-light: #3e6374;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c1e8fc;
  --md-sys-color-on-tertiary-container-light: #001f2a;
  --md-sys-color-tertiary-fixed-light: #c1e8fc;
  --md-sys-color-on-tertiary-fixed-light: #001f2a;
  --md-sys-color-tertiary-fixed-dim-light: #a6ccdf;
  --md-sys-color-on-tertiary-fixed-variant-light: #254b5b;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfdf9;
  --md-sys-color-on-background-light: #191c1a;
  --md-sys-color-outline-light: #707973;
  --md-sys-color-inverse-on-surface-light: #eff1ed;
  --md-sys-color-inverse-surface-light: #2e312f;
  --md-sys-color-inverse-primary-light: #69dbae;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006c4e;
  --md-sys-color-outline-variant-light: #bfc9c2;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f8faf6;
  --md-sys-color-on-surface-light: #191c1a;
  --md-sys-color-surface-variant-light: #dbe5de;
  --md-sys-color-on-surface-variant-light: #404944;
  --md-sys-color-surface-container-highest-light: #e1e3df;
  --md-sys-color-surface-container-high-light: #e7e9e5;
  --md-sys-color-surface-container-light: #eceeeb;
  --md-sys-color-surface-container-low-light: #f2f4f0;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #d8dbd7;
  --md-sys-color-surface-bright-light: #f8faf6;
  /* dark */
  --md-sys-color-primary-dark: #69dbae;
  --md-sys-color-on-primary-dark: #003827;
  --md-sys-color-primary-container-dark: #00513a;
  --md-sys-color-on-primary-container-dark: #87f8c9;
  --md-sys-color-primary-fixed-dark: #87f8c9;
  --md-sys-color-on-primary-fixed-dark: #002115;
  --md-sys-color-primary-fixed-dim-dark: #69dbae;
  --md-sys-color-on-primary-fixed-variant-dark: #00513a;
  --md-sys-color-secondary-dark: #b3ccbe;
  --md-sys-color-on-secondary-dark: #1f352b;
  --md-sys-color-secondary-container-dark: #354b41;
  --md-sys-color-on-secondary-container-dark: #cfe9da;
  --md-sys-color-secondary-fixed-dark: #cfe9da;
  --md-sys-color-on-secondary-fixed-dark: #092017;
  --md-sys-color-secondary-fixed-dim-dark: #b3ccbe;
  --md-sys-color-on-secondary-fixed-variant-dark: #354b41;
  --md-sys-color-tertiary-dark: #a6ccdf;
  --md-sys-color-on-tertiary-dark: #083544;
  --md-sys-color-tertiary-container-dark: #254b5b;
  --md-sys-color-on-tertiary-container-dark: #c1e8fc;
  --md-sys-color-tertiary-fixed-dark: #c1e8fc;
  --md-sys-color-on-tertiary-fixed-dark: #001f2a;
  --md-sys-color-tertiary-fixed-dim-dark: #a6ccdf;
  --md-sys-color-on-tertiary-fixed-variant-dark: #254b5b;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1a;
  --md-sys-color-on-background-dark: #e1e3df;
  --md-sys-color-outline-dark: #89938d;
  --md-sys-color-inverse-on-surface-dark: #191c1a;
  --md-sys-color-inverse-surface-dark: #e1e3df;
  --md-sys-color-inverse-primary-dark: #006c4e;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #69dbae;
  --md-sys-color-outline-variant-dark: #404944;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #111412;
  --md-sys-color-on-surface-dark: #c5c7c4;
  --md-sys-color-surface-variant-dark: #404944;
  --md-sys-color-on-surface-variant-dark: #bfc9c2;
  --md-sys-color-surface-container-highest-dark: #323633;
  --md-sys-color-surface-container-high-dark: #272b28;
  --md-sys-color-surface-container-dark: #1d201e;
  --md-sys-color-surface-container-low-dark: #191c1a;
  --md-sys-color-surface-container-lowest-dark: #0c0f0d;
  --md-sys-color-surface-dim-dark: #111412;
  --md-sys-color-surface-bright-dark: #373a38;
}