:root {
    --md-sys-color-primary-light: #006878;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #a6eeff;
  --md-sys-color-on-primary-container-light: #001f25;
  --md-sys-color-primary-fixed-light: #a6eeff;
  --md-sys-color-on-primary-fixed-light: #001f25;
  --md-sys-color-primary-fixed-dim-light: #53d7f1;
  --md-sys-color-on-primary-fixed-variant-light: #004e5b;
  --md-sys-color-secondary-light: #4b6268;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cde7ee;
  --md-sys-color-on-secondary-container-light: #051f24;
  --md-sys-color-secondary-fixed-light: #cde7ee;
  --md-sys-color-on-secondary-fixed-light: #051f24;
  --md-sys-color-secondary-fixed-dim-light: #b2cbd2;
  --md-sys-color-on-secondary-fixed-variant-light: #334a50;
  --md-sys-color-tertiary-light: #555d7e;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #dce1ff;
  --md-sys-color-on-tertiary-container-light: #121a37;
  --md-sys-color-tertiary-fixed-light: #dce1ff;
  --md-sys-color-on-tertiary-fixed-light: #121a37;
  --md-sys-color-tertiary-fixed-dim-light: #bdc5eb;
  --md-sys-color-on-tertiary-fixed-variant-light: #3d4565;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfcfd;
  --md-sys-color-on-background-light: #191c1d;
  --md-sys-color-outline-light: #6f797b;
  --md-sys-color-inverse-on-surface-light: #eff1f2;
  --md-sys-color-inverse-surface-light: #2e3132;
  --md-sys-color-inverse-primary-light: #53d7f1;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006878;
  --md-sys-color-outline-variant-light: #bfc8cb;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f8fafa;
  --md-sys-color-on-surface-light: #191c1d;
  --md-sys-color-surface-variant-light: #dbe4e7;
  --md-sys-color-on-surface-variant-light: #3f484b;
  --md-sys-color-surface-container-highest-light: #e1e3e4;
  --md-sys-color-surface-container-high-light: #e6e8e9;
  --md-sys-color-surface-container-light: #eceeef;
  --md-sys-color-surface-container-low-light: #f2f4f5;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #d8dadb;
  --md-sys-color-surface-bright-light: #f8fafa;
  /* dark */
  --md-sys-color-primary-dark: #53d7f1;
  --md-sys-color-on-primary-dark: #00363f;
  --md-sys-color-primary-container-dark: #004e5b;
  --md-sys-color-on-primary-container-dark: #a6eeff;
  --md-sys-color-primary-fixed-dark: #a6eeff;
  --md-sys-color-on-primary-fixed-dark: #001f25;
  --md-sys-color-primary-fixed-dim-dark: #53d7f1;
  --md-sys-color-on-primary-fixed-variant-dark: #004e5b;
  --md-sys-color-secondary-dark: #b2cbd2;
  --md-sys-color-on-secondary-dark: #1c3439;
  --md-sys-color-secondary-container-dark: #334a50;
  --md-sys-color-on-secondary-container-dark: #cde7ee;
  --md-sys-color-secondary-fixed-dark: #cde7ee;
  --md-sys-color-on-secondary-fixed-dark: #051f24;
  --md-sys-color-secondary-fixed-dim-dark: #b2cbd2;
  --md-sys-color-on-secondary-fixed-variant-dark: #334a50;
  --md-sys-color-tertiary-dark: #bdc5eb;
  --md-sys-color-on-tertiary-dark: #272f4d;
  --md-sys-color-tertiary-container-dark: #3d4565;
  --md-sys-color-on-tertiary-container-dark: #dce1ff;
  --md-sys-color-tertiary-fixed-dark: #dce1ff;
  --md-sys-color-on-tertiary-fixed-dark: #121a37;
  --md-sys-color-tertiary-fixed-dim-dark: #bdc5eb;
  --md-sys-color-on-tertiary-fixed-variant-dark: #3d4565;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1d;
  --md-sys-color-on-background-dark: #e1e3e4;
  --md-sys-color-outline-dark: #899295;
  --md-sys-color-inverse-on-surface-dark: #191c1d;
  --md-sys-color-inverse-surface-dark: #e1e3e4;
  --md-sys-color-inverse-primary-dark: #006878;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #53d7f1;
  --md-sys-color-outline-variant-dark: #3f484b;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #111415;
  --md-sys-color-on-surface-dark: #c4c7c8;
  --md-sys-color-surface-variant-dark: #3f484b;
  --md-sys-color-on-surface-variant-dark: #bfc8cb;
  --md-sys-color-surface-container-highest-dark: #323536;
  --md-sys-color-surface-container-high-dark: #272a2b;
  --md-sys-color-surface-container-dark: #1d2021;
  --md-sys-color-surface-container-low-dark: #191c1d;
  --md-sys-color-surface-container-lowest-dark: #0b0f10;
  --md-sys-color-surface-dim-dark: #111415;
  --md-sys-color-surface-bright-dark: #363a3b;
}