:root {
    /* light */
  --md-sys-color-primary-light: #1a6c30;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #a3f6aa;
  --md-sys-color-on-primary-container-light: #002108;
  --md-sys-color-primary-fixed-light: #a3f6aa;
  --md-sys-color-on-primary-fixed-light: #002108;
  --md-sys-color-primary-fixed-dim-light: #88d990;
  --md-sys-color-on-primary-fixed-variant-light: #00531f;
  --md-sys-color-secondary-light: #516350;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d4e8d1;
  --md-sys-color-on-secondary-container-light: #0f1f11;
  --md-sys-color-secondary-fixed-light: #d4e8d1;
  --md-sys-color-on-secondary-fixed-light: #0f1f11;
  --md-sys-color-secondary-fixed-dim-light: #b8ccb5;
  --md-sys-color-on-secondary-fixed-variant-light: #3a4b3a;
  --md-sys-color-tertiary-light: #39656c;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bdeaf3;
  --md-sys-color-on-tertiary-container-light: #001f24;
  --md-sys-color-tertiary-fixed-light: #bdeaf3;
  --md-sys-color-on-tertiary-fixed-light: #001f24;
  --md-sys-color-tertiary-fixed-dim-light: #a1ced6;
  --md-sys-color-on-tertiary-fixed-variant-light: #1f4d54;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fcfdf7;
  --md-sys-color-on-background-light: #1a1c19;
  --md-sys-color-outline-light: #727970;
  --md-sys-color-inverse-on-surface-light: #f0f1eb;
  --md-sys-color-inverse-surface-light: #2e312d;
  --md-sys-color-inverse-primary-light: #88d990;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #1a6c30;
  --md-sys-color-outline-variant-light: #c1c9be;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #f9faf4;
  --md-sys-color-on-surface-light: #1a1c19;
  --md-sys-color-surface-variant-light: #dee5d9;
  --md-sys-color-on-surface-variant-light: #424940;
  --md-sys-color-surface-container-highest-light: #e2e3dd;
  --md-sys-color-surface-container-high-light: #e8e9e3;
  --md-sys-color-surface-container-light: #edeee9;
  --md-sys-color-surface-container-low-light: #f3f4ee;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #d9dbd5;
  --md-sys-color-surface-bright-light: #f9faf4;
  /* dark */
  --md-sys-color-primary-dark: #88d990;
  --md-sys-color-on-primary-dark: #003913;
  --md-sys-color-primary-container-dark: #00531f;
  --md-sys-color-on-primary-container-dark: #a3f6aa;
  --md-sys-color-primary-fixed-dark: #a3f6aa;
  --md-sys-color-on-primary-fixed-dark: #002108;
  --md-sys-color-primary-fixed-dim-dark: #88d990;
  --md-sys-color-on-primary-fixed-variant-dark: #00531f;
  --md-sys-color-secondary-dark: #b8ccb5;
  --md-sys-color-on-secondary-dark: #243424;
  --md-sys-color-secondary-container-dark: #3a4b3a;
  --md-sys-color-on-secondary-container-dark: #d4e8d1;
  --md-sys-color-secondary-fixed-dark: #d4e8d1;
  --md-sys-color-on-secondary-fixed-dark: #0f1f11;
  --md-sys-color-secondary-fixed-dim-dark: #b8ccb5;
  --md-sys-color-on-secondary-fixed-variant-dark: #3a4b3a;
  --md-sys-color-tertiary-dark: #a1ced6;
  --md-sys-color-on-tertiary-dark: #00363d;
  --md-sys-color-tertiary-container-dark: #1f4d54;
  --md-sys-color-on-tertiary-container-dark: #bdeaf3;
  --md-sys-color-tertiary-fixed-dark: #bdeaf3;
  --md-sys-color-on-tertiary-fixed-dark: #001f24;
  --md-sys-color-tertiary-fixed-dim-dark: #a1ced6;
  --md-sys-color-on-tertiary-fixed-variant-dark: #1f4d54;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c19;
  --md-sys-color-on-background-dark: #e2e3dd;
  --md-sys-color-outline-dark: #8b9389;
  --md-sys-color-inverse-on-surface-dark: #1a1c19;
  --md-sys-color-inverse-surface-dark: #e2e3dd;
  --md-sys-color-inverse-primary-dark: #1a6c30;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #88d990;
  --md-sys-color-outline-variant-dark: #424940;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #111411;
  --md-sys-color-on-surface-dark: #c6c7c2;
  --md-sys-color-surface-variant-dark: #424940;
  --md-sys-color-on-surface-variant-dark: #c1c9be;
  --md-sys-color-surface-container-highest-dark: #333532;
  --md-sys-color-surface-container-high-dark: #282b27;
  --md-sys-color-surface-container-dark: #1e201d;
  --md-sys-color-surface-container-low-dark: #1a1c19;
  --md-sys-color-surface-container-lowest-dark: #0c0f0c;
  --md-sys-color-surface-dim-dark: #111411;
  --md-sys-color-surface-bright-dark: #373a36;
}