:root {
    --md-sys-color-primary-light: #835500;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #ffddb4;
    --md-sys-color-on-primary-container-light: #291800;
    --md-sys-color-primary-fixed-light: #ffddb4;
    --md-sys-color-on-primary-fixed-light: #291800;
    --md-sys-color-primary-fixed-dim-light: #ffb953;
    --md-sys-color-on-primary-fixed-variant-light: #633f00;
    --md-sys-color-secondary-light: #705b40;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #fbdebc;
    --md-sys-color-on-secondary-container-light: #271904;
    --md-sys-color-secondary-fixed-light: #fbdebc;
    --md-sys-color-on-secondary-fixed-light: #271904;
    --md-sys-color-secondary-fixed-dim-light: #dec2a1;
    --md-sys-color-on-secondary-fixed-variant-light: #56432b;
    --md-sys-color-tertiary-light: #52643f;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #d4eabb;
    --md-sys-color-on-tertiary-container-light: #101f03;
    --md-sys-color-tertiary-fixed-light: #d4eabb;
    --md-sys-color-on-tertiary-fixed-light: #101f03;
    --md-sys-color-tertiary-fixed-dim-light: #b9cda0;
    --md-sys-color-on-tertiary-fixed-variant-light: #3b4c29;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #1f1b16;
    --md-sys-color-outline-light: #817567;
    --md-sys-color-inverse-on-surface-light: #f9efe7;
    --md-sys-color-inverse-surface-light: #34302a;
    --md-sys-color-inverse-primary-light: #ffb953;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #835500;
    --md-sys-color-outline-variant-light: #d3c4b4;
    --md-sys-color-scrim-light: #000000;
    --md-sys-color-surface-light: #fff8f4;
    --md-sys-color-on-surface-light: #1f1b16;
    --md-sys-color-surface-variant-light: #f0e0d0;
    --md-sys-color-on-surface-variant-light: #4f4539;
    --md-sys-color-surface-container-highest-light: #eae1d9;
    --md-sys-color-surface-container-high-light: #f0e6de;
    --md-sys-color-surface-container-light: #f6ece4;
    --md-sys-color-surface-container-low-light: #fcf2ea;
    --md-sys-color-surface-container-lowest-light: #ffffff;
    --md-sys-color-surface-dim-light: #e2d8d0;
    --md-sys-color-surface-bright-light: #fff8f4;

    --md-sys-color-primary-dark: #ffb953;
    --md-sys-color-on-primary-dark: #452b00;
    --md-sys-color-primary-container-dark: #633f00;
    --md-sys-color-on-primary-container-dark: #ffddb4;
    --md-sys-color-primary-fixed-dark: #ffddb4;
    --md-sys-color-on-primary-fixed-dark: #291800;
    --md-sys-color-primary-fixed-dim-dark: #ffb953;
    --md-sys-color-on-primary-fixed-variant-dark: #633f00;
    --md-sys-color-secondary-dark: #dec2a1;
    --md-sys-color-on-secondary-dark: #3e2d16;
    --md-sys-color-secondary-container-dark: #56432b;
    --md-sys-color-on-secondary-container-dark: #fbdebc;
    --md-sys-color-secondary-fixed-dark: #fbdebc;
    --md-sys-color-on-secondary-fixed-dark: #271904;
    --md-sys-color-secondary-fixed-dim-dark: #dec2a1;
    --md-sys-color-on-secondary-fixed-variant-dark: #56432b;
    --md-sys-color-tertiary-dark: #b9cda0;
    --md-sys-color-on-tertiary-dark: #253515;
    --md-sys-color-tertiary-container-dark: #3b4c29;
    --md-sys-color-on-tertiary-container-dark: #d4eabb;
    --md-sys-color-tertiary-fixed-dark: #d4eabb;
    --md-sys-color-on-tertiary-fixed-dark: #101f03;
    --md-sys-color-tertiary-fixed-dim-dark: #b9cda0;
    --md-sys-color-on-tertiary-fixed-variant-dark: #3b4c29;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1f1b16;
    --md-sys-color-on-background-dark: #eae1d9;
    --md-sys-color-outline-dark: #9c8f80;
    --md-sys-color-inverse-on-surface-dark: #1f1b16;
    --md-sys-color-inverse-surface-dark: #eae1d9;
    --md-sys-color-inverse-primary-dark: #835500;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #ffb953;
    --md-sys-color-outline-variant-dark: #4f4539;
    --md-sys-color-scrim-dark: #000000;
    --md-sys-color-surface-dark: #17130e;
    --md-sys-color-on-surface-dark: #cec5bd;
    --md-sys-color-surface-variant-dark: #4f4539;
    --md-sys-color-on-surface-variant-dark: #d3c4b4;
    --md-sys-color-surface-container-highest-dark: #39342e;
    --md-sys-color-surface-container-high-dark: #2e2924;
    --md-sys-color-surface-container-dark: #231f1a;
    --md-sys-color-surface-container-low-dark: #1f1b16;
    --md-sys-color-surface-container-lowest-dark: #110e09;
    --md-sys-color-surface-dim-dark: #17130e;
    --md-sys-color-surface-bright-dark: #3d3833;
}