:root {
    /* light */
  --md-sys-color-primary-light: #984061;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #ffd9e2;
  --md-sys-color-on-primary-container-light: #3e001d;
  --md-sys-color-primary-fixed-light: #ffd9e2;
  --md-sys-color-on-primary-fixed-light: #3e001d;
  --md-sys-color-primary-fixed-dim-light: #ffb0c8;
  --md-sys-color-on-primary-fixed-variant-light: #7b2949;
  --md-sys-color-secondary-light: #74565f;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #ffd9e2;
  --md-sys-color-on-secondary-container-light: #2b151c;
  --md-sys-color-secondary-fixed-light: #ffd9e2;
  --md-sys-color-on-secondary-fixed-light: #2b151c;
  --md-sys-color-secondary-fixed-dim-light: #e2bdc6;
  --md-sys-color-on-secondary-fixed-variant-light: #5a3f47;
  --md-sys-color-tertiary-light: #7c5635;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdcc2;
  --md-sys-color-on-tertiary-container-light: #2e1500;
  --md-sys-color-tertiary-fixed-light: #ffdcc2;
  --md-sys-color-on-tertiary-fixed-light: #2e1500;
  --md-sys-color-tertiary-fixed-dim-light: #efbd94;
  --md-sys-color-on-tertiary-fixed-variant-light: #623f20;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #201a1b;
  --md-sys-color-outline-light: #837377;
  --md-sys-color-inverse-on-surface-light: #faeeef;
  --md-sys-color-inverse-surface-light: #352f30;
  --md-sys-color-inverse-primary-light: #ffb0c8;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #984061;
  --md-sys-color-outline-variant-light: #d5c2c6;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fff8f8;
  --md-sys-color-on-surface-light: #201a1b;
  --md-sys-color-surface-variant-light: #f2dde2;
  --md-sys-color-on-surface-variant-light: #514347;
  --md-sys-color-surface-container-highest-light: #ebe0e1;
  --md-sys-color-surface-container-high-light: #f1e5e7;
  --md-sys-color-surface-container-light: #f7ebec;
  --md-sys-color-surface-container-low-light: #fdf1f2;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #e3d7d9;
  --md-sys-color-surface-bright-light: #fff8f8;
  /* dark */
  --md-sys-color-primary-dark: #ffb0c8;
  --md-sys-color-on-primary-dark: #5e1133;
  --md-sys-color-primary-container-dark: #7b2949;
  --md-sys-color-on-primary-container-dark: #ffd9e2;
  --md-sys-color-primary-fixed-dark: #ffd9e2;
  --md-sys-color-on-primary-fixed-dark: #3e001d;
  --md-sys-color-primary-fixed-dim-dark: #ffb0c8;
  --md-sys-color-on-primary-fixed-variant-dark: #7b2949;
  --md-sys-color-secondary-dark: #e2bdc6;
  --md-sys-color-on-secondary-dark: #422931;
  --md-sys-color-secondary-container-dark: #5a3f47;
  --md-sys-color-on-secondary-container-dark: #ffd9e2;
  --md-sys-color-secondary-fixed-dark: #ffd9e2;
  --md-sys-color-on-secondary-fixed-dark: #2b151c;
  --md-sys-color-secondary-fixed-dim-dark: #e2bdc6;
  --md-sys-color-on-secondary-fixed-variant-dark: #5a3f47;
  --md-sys-color-tertiary-dark: #efbd94;
  --md-sys-color-on-tertiary-dark: #48290c;
  --md-sys-color-tertiary-container-dark: #623f20;
  --md-sys-color-on-tertiary-container-dark: #ffdcc2;
  --md-sys-color-tertiary-fixed-dark: #ffdcc2;
  --md-sys-color-on-tertiary-fixed-dark: #2e1500;
  --md-sys-color-tertiary-fixed-dim-dark: #efbd94;
  --md-sys-color-on-tertiary-fixed-variant-dark: #623f20;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #201a1b;
  --md-sys-color-on-background-dark: #ebe0e1;
  --md-sys-color-outline-dark: #9e8c90;
  --md-sys-color-inverse-on-surface-dark: #201a1b;
  --md-sys-color-inverse-surface-dark: #ebe0e1;
  --md-sys-color-inverse-primary-dark: #984061;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #ffb0c8;
  --md-sys-color-outline-variant-dark: #514347;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #171213;
  --md-sys-color-on-surface-dark: #cfc4c5;
  --md-sys-color-surface-variant-dark: #514347;
  --md-sys-color-on-surface-variant-dark: #d5c2c6;
  --md-sys-color-surface-container-highest-dark: #3a3334;
  --md-sys-color-surface-container-high-dark: #2f282a;
  --md-sys-color-surface-container-dark: #241e1f;
  --md-sys-color-surface-container-low-dark: #201a1b;
  --md-sys-color-surface-container-lowest-dark: #120d0e;
  --md-sys-color-surface-dim-dark: #171213;
  --md-sys-color-surface-bright-dark: #3e3739;
}