:root {
    --md-sys-color-primary-light: #794a99;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #f3daff;
    --md-sys-color-on-primary-container-light: #2f004c;
    --md-sys-color-primary-fixed-light: #f3daff;
    --md-sys-color-on-primary-fixed-light: #2f004c;
    --md-sys-color-primary-fixed-dim-light: #e3b5ff;
    --md-sys-color-on-primary-fixed-variant-light: #60317f;
    --md-sys-color-secondary-light: #675a6e;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #efdcf5;
    --md-sys-color-on-secondary-container-light: #221729;
    --md-sys-color-secondary-fixed-light: #efdcf5;
    --md-sys-color-on-secondary-fixed-light: #221729;
    --md-sys-color-secondary-fixed-dim-light: #d2c1d9;
    --md-sys-color-on-secondary-fixed-variant-light: #4f4256;
    --md-sys-color-tertiary-light: #815154;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #ffdada;
    --md-sys-color-on-tertiary-container-light: #331014;
    --md-sys-color-tertiary-fixed-light: #ffdada;
    --md-sys-color-on-tertiary-fixed-light: #331014;
    --md-sys-color-tertiary-fixed-dim-light: #f4b7b9;
    --md-sys-color-on-tertiary-fixed-variant-light: #663b3d;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-background-light: #fffbff;
    --md-sys-color-on-background-light: #1d1b1e;
    --md-sys-color-outline-light: #7c747e;
    --md-sys-color-inverse-on-surface-light: #f6eff3;
    --md-sys-color-inverse-surface-light: #332f33;
    --md-sys-color-inverse-primary-light: #e3b5ff;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #794a99;
    --md-sys-color-outline-variant-light: #cdc3ce;
    --md-sys-color-scrim-light: #000000;
    --md-sys-color-surface-light: #fff7fc;
    --md-sys-color-on-surface-light: #1d1b1e;
    --md-sys-color-surface-variant-light: #eadfea;
    --md-sys-color-on-surface-variant-light: #4b454d;
    --md-sys-color-surface-container-highest-light: #e7e0e5;
    --md-sys-color-surface-container-high-light: #ede6eb;
    --md-sys-color-surface-container-light: #f3ecf0;
    --md-sys-color-surface-container-low-light: #f9f2f6;
    --md-sys-color-surface-container-lowest-light: #ffffff;
    --md-sys-color-surface-dim-light: #dfd8dd;
    --md-sys-color-surface-bright-light: #fff7fc;
    /* dark */
    --md-sys-color-primary-dark: #e3b5ff;
    --md-sys-color-on-primary-dark: #471867;
    --md-sys-color-primary-container-dark: #60317f;
    --md-sys-color-on-primary-container-dark: #f3daff;
    --md-sys-color-primary-fixed-dark: #f3daff;
    --md-sys-color-on-primary-fixed-dark: #2f004c;
    --md-sys-color-primary-fixed-dim-dark: #e3b5ff;
    --md-sys-color-on-primary-fixed-variant-dark: #60317f;
    --md-sys-color-secondary-dark: #d2c1d9;
    --md-sys-color-on-secondary-dark: #382c3e;
    --md-sys-color-secondary-container-dark: #4f4256;
    --md-sys-color-on-secondary-container-dark: #efdcf5;
    --md-sys-color-secondary-fixed-dark: #efdcf5;
    --md-sys-color-on-secondary-fixed-dark: #221729;
    --md-sys-color-secondary-fixed-dim-dark: #d2c1d9;
    --md-sys-color-on-secondary-fixed-variant-dark: #4f4256;
    --md-sys-color-tertiary-dark: #f4b7b9;
    --md-sys-color-on-tertiary-dark: #4c2528;
    --md-sys-color-tertiary-container-dark: #663b3d;
    --md-sys-color-on-tertiary-container-dark: #ffdada;
    --md-sys-color-tertiary-fixed-dark: #ffdada;
    --md-sys-color-on-tertiary-fixed-dark: #331014;
    --md-sys-color-tertiary-fixed-dim-dark: #f4b7b9;
    --md-sys-color-on-tertiary-fixed-variant-dark: #663b3d;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-on-error-container-dark: #ffdad6;
    --md-sys-color-background-dark: #1d1b1e;
    --md-sys-color-on-background-dark: #e7e0e5;
    --md-sys-color-outline-dark: #968e98;
    --md-sys-color-inverse-on-surface-dark: #1d1b1e;
    --md-sys-color-inverse-surface-dark: #e7e0e5;
    --md-sys-color-inverse-primary-dark: #794a99;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #e3b5ff;
    --md-sys-color-outline-variant-dark: #4b454d;
    --md-sys-color-scrim-dark: #000000;
    --md-sys-color-surface-dark: #151316;
    --md-sys-color-on-surface-dark: #cbc5c9;
    --md-sys-color-surface-variant-dark: #4b454d;
    --md-sys-color-on-surface-variant-dark: #cdc3ce;
    --md-sys-color-surface-container-highest-dark: #373437;
    --md-sys-color-surface-container-high-dark: #2c292c;
    --md-sys-color-surface-container-dark: #211f22;
    --md-sys-color-surface-container-low-dark: #1d1b1e;
    --md-sys-color-surface-container-lowest-dark: #100d11;
    --md-sys-color-surface-dim-dark: #151316;
    --md-sys-color-surface-bright-dark: #3b383c;
}