:root {
    /* light */
  --md-sys-color-primary-light: #656000;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #efe76c;
  --md-sys-color-on-primary-container-light: #1e1c00;
  --md-sys-color-primary-fixed-light: #efe76c;
  --md-sys-color-on-primary-fixed-light: #1e1c00;
  --md-sys-color-primary-fixed-dim-light: #d2ca53;
  --md-sys-color-on-primary-fixed-variant-light: #4c4800;
  --md-sys-color-secondary-light: #625f42;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #e9e4be;
  --md-sys-color-on-secondary-container-light: #1e1c05;
  --md-sys-color-secondary-fixed-light: #e9e4be;
  --md-sys-color-on-secondary-fixed-light: #1e1c05;
  --md-sys-color-secondary-fixed-dim-light: #ccc8a3;
  --md-sys-color-on-secondary-fixed-variant-light: #4a482c;
  --md-sys-color-tertiary-light: #3f6654;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #c1ecd5;
  --md-sys-color-on-tertiary-container-light: #002115;
  --md-sys-color-tertiary-fixed-light: #c1ecd5;
  --md-sys-color-on-tertiary-fixed-light: #002115;
  --md-sys-color-tertiary-fixed-dim-light: #a5d0ba;
  --md-sys-color-on-tertiary-fixed-variant-light: #274e3d;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-light: #1c1c16;
  --md-sys-color-outline-light: #7a7768;
  --md-sys-color-inverse-on-surface-light: #f5f0e7;
  --md-sys-color-inverse-surface-light: #32302b;
  --md-sys-color-inverse-primary-light: #d2ca53;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #656000;
  --md-sys-color-outline-variant-light: #cbc7b5;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fdf9f0;
  --md-sys-color-on-surface-light: #1c1c16;
  --md-sys-color-surface-variant-light: #e7e3d1;
  --md-sys-color-on-surface-variant-light: #49473a;
  --md-sys-color-surface-container-highest-light: #e6e2d9;
  --md-sys-color-surface-container-high-light: #ece8df;
  --md-sys-color-surface-container-light: #f2ede4;
  --md-sys-color-surface-container-low-light: #f8f3ea;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dedad1;
  --md-sys-color-surface-bright-light: #fdf9f0;
  /* dark */
  --md-sys-color-primary-dark: #d2ca53;
  --md-sys-color-on-primary-dark: #343200;
  --md-sys-color-primary-container-dark: #4c4800;
  --md-sys-color-on-primary-container-dark: #efe76c;
  --md-sys-color-primary-fixed-dark: #efe76c;
  --md-sys-color-on-primary-fixed-dark: #1e1c00;
  --md-sys-color-primary-fixed-dim-dark: #d2ca53;
  --md-sys-color-on-primary-fixed-variant-dark: #4c4800;
  --md-sys-color-secondary-dark: #ccc8a3;
  --md-sys-color-on-secondary-dark: #333118;
  --md-sys-color-secondary-container-dark: #4a482c;
  --md-sys-color-on-secondary-container-dark: #e9e4be;
  --md-sys-color-secondary-fixed-dark: #e9e4be;
  --md-sys-color-on-secondary-fixed-dark: #1e1c05;
  --md-sys-color-secondary-fixed-dim-dark: #ccc8a3;
  --md-sys-color-on-secondary-fixed-variant-dark: #4a482c;
  --md-sys-color-tertiary-dark: #a5d0ba;
  --md-sys-color-on-tertiary-dark: #0e3728;
  --md-sys-color-tertiary-container-dark: #274e3d;
  --md-sys-color-on-tertiary-container-dark: #c1ecd5;
  --md-sys-color-tertiary-fixed-dark: #c1ecd5;
  --md-sys-color-on-tertiary-fixed-dark: #002115;
  --md-sys-color-tertiary-fixed-dim-dark: #a5d0ba;
  --md-sys-color-on-tertiary-fixed-variant-dark: #274e3d;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1c1c16;
  --md-sys-color-on-background-dark: #e6e2d9;
  --md-sys-color-outline-dark: #949181;
  --md-sys-color-inverse-on-surface-dark: #1c1c16;
  --md-sys-color-inverse-surface-dark: #e6e2d9;
  --md-sys-color-inverse-primary-dark: #656000;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #d2ca53;
  --md-sys-color-outline-variant-dark: #49473a;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #14130e;
  --md-sys-color-on-surface-dark: #cac6be;
  --md-sys-color-surface-variant-dark: #49473a;
  --md-sys-color-on-surface-variant-dark: #cbc7b5;
  --md-sys-color-surface-container-highest-dark: #36352f;
  --md-sys-color-surface-container-high-dark: #2b2a24;
  --md-sys-color-surface-container-dark: #21201a;
  --md-sys-color-surface-container-low-dark: #1c1c16;
  --md-sys-color-surface-container-lowest-dark: #0f0e09;
  --md-sys-color-surface-dim-dark: #14130e;
  --md-sys-color-surface-bright-dark: #3a3933;
}