div .basicgamecarousel_BasicGameCarousel_3MdH5 {
    padding-top: 158px;
    height: 100% !important;
    padding-bottom: 0px;
}

.basicgamecarousel_CarouselGameLabelWrapper_ZkD6W {
    margin-top: -265px;
}

.basicgamecarousel_BasicGameCarousel_3MdH5 {
    padding-top: 55px;
}

.gamepadhomerecentgames_RecentGamesHeader_35iRe {
    display: none;
}

.basicgamecarousel_BasicGameCarousel_3MdH5 > .ReactVirtualized__Grid__innerScrollContainer {
    height: 221px !important;
}