.gamepadlibrary_GamepadLibrary_ZBBhe .gamepadtabbedpage_GamepadTabbedPage_3IBLc {
    background-image: var(--sbg-global-img-filter), var(--sbg-library-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}