.gamepadsearch_GamepadSearch_P_AlE .gamepadtabbedpage_GamepadTabbedPage_3IBLc {
    background-image: var(--sbg-global-img-filter), var(--sbg-search-background);
    background-repeat: no-repeat;
    background-size: cover;
}