:root {
	--static-background: url(https://i.imgur.com/kYW2H5C.jpg);
}

.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt {
	position: absolute;
    top: 0;
    background-image: var(--static-background);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.gamepadhomerecentgames_RecentGamesBackgroundContainer_QNkOt > * {
	display: none;
}