@media only screen and (min-width: 1570px) {
    #game_area_purchase {
        position: fixed;
        top: 0;
        left: calc((100vw - 940px - 550px) / 2 + 940px + 5px);
        padding: 1em;
        margin-top: 1em;
        width: 550px;

        overflow-y: scroll;
        max-height: 100vh;
    }

    #game_area_purchase::-webkit-scrollbar {
        display: none;
      }

    .page_content_ctn {
        width: fit-content;
        margin-right: auto;
        margin-left: calc((100vw - 940px - 550px) / 2 - 5px);
    }

    .game #store_header {
        width: fit-content;
        margin-left: calc((100vw - 940px - 550px) / 2);
    }
}

