.libraryhome_InnerContainer_2AUVZ,
.libraryhome_LibraryHome_3Sb2o,
.gamelistbar_Container_3x1Hk,
.gamelistbar_GameListHomeAndSearch_2TKEa,
.libraryhome_UpdatesContainer_17uEB,
.appdetailsoverview_Container_27RcN,
.appdetailsoverview_BackdropGlass_Jbe--,
.appdetails_InnerContainer_1Svpj
{
    background: var(--desktop-bg);
}

.sharedappdetailsheader_ImgSrc__dije.sharedappdetailsheader_ImgBlurBackdrop_ooM_c {
    display: none;
}