.gamepadpagedsettings_PagedSettingsDialog_PageListColumn_2EZ3o,
.gamepadpage_GamepadPage_2FqpD.gamepadpage_DialogBackground_2msTK,
.gamepadui_OpaqueBackground_b084m .gamepadui_Content_1FxmN {
    background: var(--md-sys-color-surface-container);
    border: none;
}

.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle{
    background: var(--md-sys-color-surface);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: var(--basicui-header-height);
}

.DialogContent.gamepadpagedsettings_PagedSettingsDialog_PageContent_wIOLO {
    padding: calc(12px + 1.4vw) 2.8vw;
}

.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle .gamepaddialog_GamepadDialogContent_3joNk .DialogHeader {
    display: none;
}

.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB {
    transform: none;
    padding: 2px 0;
    margin: 0;
    animation: none;
    background: transparent;
}

.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB:focus {
    background: var(--md-sys-color-surface-container-highest);
}

.gamepadpagedsettings_PageListItem_Title_2PPLv,
.gamepadpagedsettings_PagedSettingsDialog_Title_1Px9u {
    color: var(--md-sys-color-on-surface-variant);
}

.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB > .gamepadpagedsettings_PageListItem_Title_2PPLv {
    padding: 15px 10px;
    margin: 0 calc(2px + 1.4vw);
    background: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
    border-radius: 5px;
}

.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB > .gamepadpagedsettings_PageListItem_Icon_1F_5Q {
    margin-right: -5px;
    margin-left: 23px;
}

.gamepadpagedsettings_PageListItem_Icon_1F_5Q,
.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogControlsSectionHeader {
    color: var(--md-sys-color-on-surface);
}

.customizationsettings_StartupMoviesSelectionDesc_gfecK,
.BasicUI .gamepaddialog_GamepadDialogContent_3joNk .DialogSubHeader,
.remoteplaysettings_TableHeader_1HL6K {
    color: var(--md-sys-color-on-surface-variant);
}

.gamepadpagedsettings_Separator_3vV7l {
    height: 0;
}

.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle .DialogBody > button:first-child {
    top: 5px !important;
    left: 5px;
}

.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle .DialogBody:not(:first-child) {
    margin-top: 20px;
}

.BasicUI .contentmanagement_ContentManagement_3wk64 {
    background: transparent;
}


/* Controller Layout Menu */

.controllerconfigurator_ControllerConfiguratorMain_APY6j {
    background: var(--md-sys-color-surface);
}

.controllerconfigurator_TopSection_20sN9,
.controllerconfigurator_CommunityConfigsCallout_1xfC8,
.controllerconfigurator_BottomSection_3RsRf {
    background: transparent;
}

.controllerconfigurator_CurrentConfigurationButton_3lO3w .controllerconfigurator_CommunityConfigCalloutPresent_1L7Yn,
.controllerconfigurator_CurrentConfigurationButton_3lO3w .dropdownlabel_DropDownLabelUpperDescription_2_JN3,
.gpfocus .controllerconfigurator_CommunityConfigCalloutContainer_10WYX .controllerconfigurator_CommunityConfigCalloutPresent_1L7Yn {
    color: var(--md-sys-color-on-primary);
}

.controllerconfiguratorchooseconfiguration_OuterColumn_1Udh1 h1 {
    color: var(--md-sys-color-on-surface);
}

.controllerconfiguratorchooseconfiguration_OuterColumn_1Udh1 p {
    color: var(--md-sys-color-on-surface-variant);
}

.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN {
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.gpfocus {
    background: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
}

.controllerconfiguratorchooseconfiguration_Author_1dzOH,
.controllerconfiguratorchooseconfiguration_InfoSection_25G91,
.controllerconfiguratorchooseconfiguration_Title_EI1IQ,
.controllerconfiguratorchooseconfiguration_Description_3XAvq {
    color: var(--md-sys-color-on-primary-container);
}

.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.gpfocus .controllerconfiguratorchooseconfiguration_Author_1dzOH,
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.gpfocus .controllerconfiguratorchooseconfiguration_InfoSection_25G91,
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.gpfocus .controllerconfiguratorchooseconfiguration_Title_EI1IQ,
.controllerconfiguratorchooseconfiguration_ConfigurationButton_2luCN.gpfocus .controllerconfiguratorchooseconfiguration_Description_3XAvq {
    color: var(--md-sys-color-inverse-on-surface);
}

.controllerconfigurator_QuickSettingsHeader_3gVR5,
.controllerconfigurator_TopSectionHeader_1a_D6,
.controllerconfigurator_CommunityConfigsCallout_1xfC8 .controllerconfigurator_Description_38ea5 .controllerconfigurator_SubTitle_2-E4i {
    color: var(--md-sys-color-on-surface-variant);
}