/* Menu Modals */

.gamepadcontextmenu_contextMenuContents_sIgB- {
    padding: 0 20px;
    border-radius: 20px;
    background: var(--md-sys-color-surface-container-high);
    margin-top: 5px;
}

.gamepadcontextmenu_BasicContextMenuContainer_2ZDB6:not(:first-child) .gamepadcontextmenu_contextMenuContents_sIgB-:only-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -3px;
}

.gamepadcontextmenu_BasicContextMenuContainer_2ZDB6:not(:first-child) .gamepadcontextmenu_contextMenuContents_sIgB-:not(:only-child):last-child {
    margin-left: 5px;
}

.gamepadcontextmenu_contextMenuItem_1sdvo,
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Selected_1PnET {
    background: transparent;
    color: var(--md-sys-color-on-surface);
    border-radius: 5px;
}

.gamepadcontextmenu_contextMenuItem_1sdvo.gpfocus,
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_SubMenu_1_tPN.gamepadcontextmenu_active_2Pk-x {
    background: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}

.gamepadcontextmenu_contextMenuItem_1sdvo.gpfocus .dropdownlabel_DropDownLabelTitle_uDBZW {
    color: var(--md-sys-color-on-secondary) !important;
}

.gamepadcontextmenu_contextMenuItem_1sdvo.gpfocus .dropdownlabel_DropDownLabelUpperDescription_2_JN3,
.gamepadcontextmenu_contextMenuItem_1sdvo.gpfocus .dropdownlabel_DropDownLabelDescription_1JPcb {
    color: var(--md-sys-color-on-secondary-variant) !important;
}

.gamepadcontextmenu_Arrow_2EDBb > svg {
    fill: var(--md-sys-color-outline);
}

.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Destructive_3aIFv.gpfocus {
    background: var(--md-sys-color-error);
    color: var(--md-sys-color-on-error);
}

.gamepadcontextmenu_BasicContextMenuHeader_2Jp8B {
    background: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface-variant);
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px 3px 20px;
    margin-top: 5px;
    width: 280px;

    /* text-align: left; */
    /* margin-left: calc(50% - 126px); */
}

.gamepadcontextmenu_ContextMenuSeparator_1KL6n {
    background: var(--md-sys-color-outline-variant);
    margin: 5px;
    width: 200%;
    margin-left: -20px;
}
/*
.gamepadcontextmenu_BasicContextMenuContainer_2ZDB6 {
    justify-content: left;
    margin-left: calc(50% - 160px);
}
*/

.gamepadcontextmenu_Selected_1PnET:not(.gpfocus)::after {
    -webkit-mask-image: url(/themes_custom/Material%20You/icons/check-solid.svg);
    height: 20px;
    width: 20px;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--md-sys-color-tertiary);
    content: '';
    margin-left: auto;
    position: absolute;
    right: 0;
}

.gamepaddialog_LabelFieldValue_5Mylh,
.gamepaddialog_Field_S-_La.gpfocuswithin .gamepaddialog_LabelFieldValue_5Mylh {
    color: var(--md-sys-color-on-surface-variant);
}

.gamepaddialog_GamepadDialogContent_3joNk .DialogControlsSectionHeader {
    border: none;
}

.networkconnectiondialog_ConnectingProgressIconContainer_2QaJd,
.networkconnectiondialog_ConnectingThrobberContainer_2bTNE {
    color: var(--md-sys-color-secondary);
}

.networkconnectiondialog_ConnectionStatusText_ZHuww {
    color: var(--md-sys-color-on-surface);
}

/* Yes/No Prompts */

.gamepaddialog_ModalPosition_30VHl>.gamepaddialog_GamepadDialogContent_3joNk,
.steamdeckcompatfilter_CompatFilterDialog_21qvB {
    background: var(--md-sys-color-surface-container);
    border: none;
    border-radius: 20px;
}

.GenericConfirmDialog .DialogTwoColLayout {
    justify-content: flex-end;
}

.GenericConfirmDialog .DialogTwoColLayout button.gamepaddialog_Button_1kn70.DialogButton:enabled {
    width: fit-content;
    min-width: 0px;
    flex: 0;
    flex-basis: auto;
    background: transparent;
    color: var(--md-sys-color-primary);
}

.GenericConfirmDialog .DialogTwoColLayout button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.DialogHeader,
.notificationssettings_NotificationDescription_1ifM6,
.gamepaddialog_GamepadDialogContent_3joNk .DialogHeader,
.steamdeckcompatfilter_CompatFilterDialogTitle_6J6XV {
    color: var(--md-sys-color-on-surface);
}

.DialogBodyText,
.gamepaddialog_GamepadDialogContent_3joNk .DialogBodyText,
.steamdeckcompatfilter_CompatFilterDialogDescription_1yY7h,
.appfilterpane_SearchBucketLabel_EbQQN,
.moveappsdialog_DialogBodyText_lwZMn {
    color: var(--md-sys-color-on-surface-variant);
}

/* Filter Modal */

.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3 {
    background: var(--md-sys-color-primary-container);
}

.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3.gpfocus {
    background: var(--md-sys-color-inverse-surface);
}

.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3,
.steamdeckcompatfilter_CompatFilterDescription_1Fjvh {
    color: var(--md-sys-color-on-primary-container);
}

.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3.gpfocus,
.steamdeckcompatfilter_CompatFilterDialogRow_O7cW3.gpfocus .steamdeckcompatfilter_CompatFilterDescription_1Fjvh {
    color: var(--md-sys-color-inverse-on-surface);
}

.steamdeckcompatfilter_RadioButton_10D3Y,
.steamdeckcompatfilter_Active_2wFsa .steamdeckcompatfilter_RadioButton_10D3Y, .steamdeckcompatfilter_Active_2wFsa .steamdeckcompatfilter_RadioButton_10D3Y:hover {
    background: var(--md-sys-color-surface);
}

.steamdeckcompatfilter_Active_2wFsa .steamdeckcompatfilter_RadioButton_10D3Y, .steamdeckcompatfilter_Active_2wFsa .steamdeckcompatfilter_RadioButton_10D3Y:hover {
    box-shadow: inset 0px 0px 0px 4px var(--md-sys-color-primary);
}